In [1]:
print('10 + 10 =', 10+10 , sep='$')

10 + 10 =$20

In [ ]:
print(1,2,3,4,5, sep="")
#띄어쓰기 구분자 sep="", sep="$" 이렇게 바꿀 수 있음.

12345

In [ ]:
print("python"+"program")

pythonprogram

In [ ]:
print("python","program")

python program

In [ ]:
print("python " * 5)
print("*"*29)

python python python python python
*****************************

In [ ]:
print("Python Program is Great Program!")

Python Program is Great Program!

In [ ]:
print("50+50의 합=", 50+50)

50+50의 합= 100

In [ ]:
name = "홍길동"
print("나의 이름은", name, "입니다.")
#출력할 원소는 3개, 
#변수를 만들고 변수 출력 연습

나의 이름은 홍길동 입니다.

In [ ]:
age = 20
name ="홍길동"
print("나의 이름은 ", name, "이고,", sep="" )
print("나이는 ",age, "세이다.", sep="")

나의 이름은 홍길동이고,
나이는 20세이다.

In [ ]:
# 숫자 천 단위 콤마format{형식규칙:,}.format(값)

In [ ]:
# n정수형 숫자 자리 형식 지정 {순서:nd}.format(변수)

In [ ]:
# 실수형 숫자 자리 형식 지정 {0:0,.1f}.format(값)

height = 186.123

print("나의 키는 ", height, "입니다.", sep="")
print("나의 키는 {0:.2f}".format(height), "입니다.", sep="")

나의 키는 186.123입니다.
나의 키는 186.12입니다.

In [ ]:
print("안녕하세요\n 선재입니다.") #다음줄
print("안녕하세요\t 선재입니다.") #탭사용
print("안녕하세요\b 선재입니다.") #한글자 없애

안녕하세요
 선재입니다.
안녕하세요	 선재입니다.
안녕하세요 선재입니다.
안녕하세요
 선재입니다.

In [ ]:
x = 20
y = 20
width = x*y
print("직사각형의 넓이=", width, sep="")

직사각형의 넓이=400

In [3]:
Kor = 100
Eng = 80
Math = 75
sum = Kor + Eng + Math
avg = sum/3

print("국어 :", Kor)
print("영어 :", Eng)
print("수학 :", Math)
print("총점 :", sum)
print(f"평균 : {avg:,.2f}")

국어 : 100
영어 : 80
수학 : 75
총점 : 255
평균 : 85.00