In [ ]:
for i in range(5, 0,-1):
 print(i)

5
4
3
2
1

In [ ]:
#사용자로부터 숫자 정수 5개를 입력 받아, 홀수를 판별하여 홀수의 개수를 출력하는 프로그램을 작성하시오.
num=int(input("num?"))

if num%2==0 :
  print(f"{num}은/는 짝수입니다.")
else :
    print(f"{num}은/는 홀수입니다.")

num?2
2은/는 짝수입니다.

In [ ]:
odd=0 
for i in range(0,2) :

  num=int(input("num?"))
  if num%2==0 :
    print(f"{num}은/는 짝수입니다.")
  else :
    print(f"{num}은/는 홀수입니다.")
    odd+=1
print(f"odd의 수는 {odd}개 이다.")
#1. 홀짝 판별 if문
#2. for
#3. 홀수 수

num?2
2은/는 짝수입니다.
num?1
1은/는 홀수입니다.
odd의 수는 1개 이다.

In [ ]:
zoo = ["rabbit", "goat", "tiger", "lion", "giraff","zebra"]
zoo.reverse()
for name in reversed(zoo) :
  print(name, end=" ")
for name in zoo[::-1] :
    print(name, end=" ")

rabbit goat tiger lion giraff zebra rabbit goat tiger lion giraff zebra

In [ ]:
zoo = ["rabbit", "goat", "tiger", "lion", "giraffe","zebra"]
for name in reversed(zoo) :
  print(name, ":", len(name))

zebra : 5
giraffe : 7
lion : 4
tiger : 5
goat : 4
rabbit : 6

In [ ]:
zoo = ["rabbit", "goat", "tiger", "lion", "giraffe","zebra"]
for i in range(2) :
  animal = input("내가 좋아하는 동물?")
  if animal in zoo :
      print(f"{animal}은/는 동물원에 있습니다.")
  else :
      print(f"{animal}은/는 동물원에 없습니다.")

내가 좋아하는 동물?lion
lion은/는 동물원에 있습니다.
내가 좋아하는 동물?deer
deer은/는 동물원에 없습니다.

In [ ]:
cnt =1
while cnt<=5:
  print(f"파이썬 프로그램 {cnt}번 출력")
  cnt=cnt+1

파이썬 프로그램 1번 출력
파이썬 프로그램 2번 출력
파이썬 프로그램 3번 출력
파이썬 프로그램 4번 출력
파이썬 프로그램 5번 출력

In [ ]:
for i in range(1,6) :
    print(f"파이썬 프로그램 {i}번 출력")

파이썬 프로그램 1번 출력
파이썬 프로그램 2번 출력
파이썬 프로그램 3번 출력
파이썬 프로그램 4번 출력
파이썬 프로그램 5번 출력

In [ ]:
num=int(input("원하는 구구단:"))
cnt=1
while cnt<=9 :
  print(num,"*",cnt,"=",num*cnt)
  cnt+=1

원하는 구구단:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [20]:
animal=["dog","duck","pony", "donkey", "giraffe", "elephant","cat"]
for i in animal:
 if len(i)<=5 :
    print(i)

dog
duck
pony
cat